<a href="https://colab.research.google.com/github/dltmdgk0715-ctrl/-/blob/main/%EA%B2%BD%EC%98%81%ED%86%B5%EA%B3%84_%EA%B3%BC%EC%A0%9C_20252145_(7).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
from itertools import product

In [ ]:
df = pd.read_excel('eai.xlsx')
df

      Manager  Annual Salary Training Program
0           1        55769.5               No
1           2        50823.0              Yes
2           3        48408.2               No
3           4        49787.5               No
4           5        52801.6              Yes
...       ...            ...              ...
2495     2496        56873.5               No
2496     2497        47860.7              Yes
2497     2498        56543.7              Yes
2498     2499        53168.8              Yes
2499     2500        48433.3              Yes

[2500 rows x 3 columns]

모집단 분포

In [ ]:
df['Annual Salary']

0       55769.5
1       50823.0
2       48408.2
3       49787.5
4       52801.6
         ...
2495    56873.5
2496    47860.7
2497    56543.7
2498    53168.8
2499    48433.3
Name: Annual Salary, Length: 2500, dtype: float64

In [ ]:
mean = df['Annual Salary'].mean()
std = df['Annual Salary'].std(ddof = 0) #ddof : delta degress of freedom(자유도)
mean, std

(np.float64(51800.0), 3999.199986577315)

In [ ]:
salary = df['Annual Salary']
salary

0       55769.5
1       50823.0
2       48408.2
3       49787.5
4       52801.6
         ...
2495    56873.5
2496    47860.7
2497    56543.7
2498    53168.8
2499    48433.3
Name: Annual Salary, Length: 2500, dtype: float64

In [ ]:
# np.std(salary) # ddof default : ddof = 0
# .std()         # ddof default : ddof = 1

In [ ]:
round(mean), np.ceil(std)

(51800, np.float64(4000.0))

In [ ]:
df['Training Program']

0        No
1       Yes
2        No
3        No
4       Yes
       ...
2495     No
2496    Yes
2497    Yes
2498    Yes
2499    Yes
Name: Training Program, Length: 2500, dtype: object

In [ ]:
yes_ratio = df['Training Program'].value_counts(normalize = True)['Yes']
no_ratio = df['Training Program'].value_counts(normalize = True)['No']
yes_ratio, no_ratio

(np.float64(0.6), np.float64(0.4))

7.3 점추정

In [ ]:
df_sample = df.sample(n = 30, random_state = 1).reset_index(drop = True)
df_sample

    Manager  Annual Salary Training Program
0      1407        58237.4              Yes
1       298        53036.3              Yes
2      1277        51922.8               No
3      2369        48539.7               No
4       439        54034.7              Yes
5      2010        52746.7               No
6       643        53503.4               No
7       656        46576.5              Yes
8      1194        52134.8              Yes
9      2411        54683.2               No
10      899        52952.5               No
11      469        50130.1              Yes
12      608        52987.8              Yes
13     2500        48433.3              Yes
14     2263        55390.5              Yes
15      590        53869.6              Yes
16      108        52755.5              Yes
17      536        58950.9              Yes
18     1550        52019.9              Yes
19     1266        44857.2               No
20     1577        52342.4              Yes
21      768        45844.8              Yes
22     2057        48691.2               No
23      704        54896.6              Yes
24     2298        50680.7              Yes
25      852        53371.2               No
26     1282        52422.9               No
27      680        49886.5              Yes
28     2364        53725.7              Yes
29     1495        51589.7               No

In [ ]:
# 표본평균
sample_mean = df_sample['Annual Salary'].mean()
print(f'sample_mean = {sample_mean:.0f}')

sample_mean = 52040

In [ ]:
sample_std = df_sample['Annual Salary'].std(ddof = 1)
print(f'sample_std = {sample_std:.0f}')

sample_std = 3202

In [ ]:
sample_ratio = df_sample['Training Program'].value_counts(normalize=True)['Yes']
print(f'sample_ratio = {sample_ratio:.3f}')

sample_ratio = 0.633

표본분포 개요

In [ ]:
# 기상의 데이터프레임 생성(총 2500개의 요소)
np.random.seed(1)

#30개짜리 표본 500개 추출, 각 표본에서 'Salary'의 평균, 'Training'의 Yes 비율 계산
#빈 자리
sample_means = []
sample_ratios = []

for _ in range(500):
  sample = df.sample(n = 30, random_state = np.random.randint(0, 10000))
  sample_mean = sample['Annual Salary'].mean()
  sample_means.append(sample_mean)
  sample_ratio = (sample['Training Program'] == 'Yes').mean()
  sample_ratios.append(sample_ratio)

# df_500sample (데이터프레임) 생성 : 500개의 표본평균과 표본비율로 구성
df_500sample = pd.DataFrame({
    'sample_mean':sample_means,
    'sample_ratio':sample_ratios
})
df_500sample

      sample_mean  sample_ratio
0    52282.970000      0.633333
1    51569.893333      0.466667
2    51411.900000      0.633333
3    51647.356667      0.533333
4    51026.153333      0.533333
..            ...           ...
495  49516.290000      0.533333
496  51974.586667      0.600000
497  51806.080000      0.466667
498  52505.296667      0.700000
499  50612.623333      0.600000

[500 rows x 2 columns]